<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        @if(Request.IsAuthenticated)
        {
            // IsAuthenticated が true ならログイン状態
            @Html.ActionLink("ログアウト", "SignOut", new { Controller = "Login"})

            // Administratorsに所属しているユーザは、ユーザー管理を表示する
            if (User.IsInRole("Administrators"))
            {
                <span>|</span>
                @Html.ActionLink("ユーザー管理", "Index", new { Controller = "Users" });
            }

        }
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
